/* app css stylesheet */

body {
  min-height: 2000px;
}

.products {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.products li {
  clear: both;
  padding-bottom: 5px;
}

/** Detail View **/
img.product {
    max-width: 100%;
    height: auto;
    width: auto;
    float: left;
    border:1px solid #000000;
    padding: 1em;
}

#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#left {
    float: left;
    width: 30%;
}

#right {
    float: right;
    width: 70%;
}

.navbar-static-top {
  margin-bottom: 19px;
}
