<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
      <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Filter Products</legend>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Search</label>  
          <div class="col-md-8">
          <input ng-model="query" id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md3">
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
          <div class="col-md-8">
            <select ng-model="orderProp" id="selectbasic" name="selectbasic" class="form-control input-md">
              <option value="name">Alphabetical</option>
            </select>
          </div>
        </div>

        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <!--Body content-->

      <ul class="products media-list">
        <li ng-repeat="product in searchResults.products | filter:query | orderBy:orderProp" class="media">
          <a class="thumbnail pull-left" href="#">
              <img class="media-object" src="http://responsive.hybris.com:9001{{product.images[0].url}}" alt="SUSHI" width="120">
          </a>
          <div class="media-body">
            <a href="#/products/{{product.id}}">
              <h4 class="media-heading">{{product.name}}</h4>
            </a>
              {{product.price.formattedValue}}
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
